name: test

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v4

      - uses: ros-tooling/setup-ros@v0.7
        with:
          required-ros-distributions: humble

      - run: sudo apt-get update
      - run: sudo apt-get install -y python3-colcon-common-extensions

      - run: bash -xv ./test.bash

